body{
    background-color: rgba(112, 131, 130, 0.897);
}

.grid {
    width: 600px;
    height: 500px;
    margin: 0 auto;
    background-color: rgb(138, 108, 151);
    padding: 10px 50px 50px 50px;
    border-radius: 50px;
    border: 2px solid #e1c9e793;
    box-shadow: 10px 15px 5px #e1c9e793;
}

.grid h1 {
    font-family: poppins;
    background-color: #e1c9e793;
    font-size: 60px;
    text-align: center;
    color: rgb(52, 27, 61);
    padding: 2px 0px;
    border-radius: 50px;
}

.grid #question {
    font-family: poppins;
    font-size: 30px;
    color: #fff;
}

.buttons{
    margin-top: 30px;
}

#btn0, #btn1, #btn2, #btn3 {
    background-color: azure;
    width: 250px;
    font-size: 20px;
    color: #fff;
    border: 1px solid #1d3c6a;
    border-radius: 50px;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px; 
}

#score{
    color: #5A6772;
    text-align: center;
    font-size: 30px;
}

#progress {
    color:azure;
    font-size: 10px;
}

#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover {
    cursor:pointer;
    background-color:bisque;
}

#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus {
    outline: 0;
    
}
